---
const { tags = [] } = Astro.props;
---

{tags.length > 0 && (
  <div class="flex flex-wrap gap-2">
    {tags.map((tag) => <span class="rounded-sm border border-zinc-700 bg-zinc-900/70 px-2 py-1 text-xs text-zinc-400">#{tag}</span>)}
  </div>
)}
